@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* font-family: 'Kumbh Sans', sans-serif; */
:root {
  --txt-dark: hsl(238, 29%, 16%);
  --txt-red: hsl(14, 88%, 65%);
  --txt-n-vdgb: hsl(237, 12%, 33%);
  --txt-n-dgb: hsl(240, 6%, 50%);
  --bg-soft-violet: hsl(273, 75%, 66%);
  --bg-soft-blue: hsl(240, 73%, 65%);
  --divid: hsl(240, 5%, 91%);
}
* {
  box-sizing: border-box;
}
/* The gradient in the background */
body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background-image: linear-gradient(
    to bottom,
    var(--bg-soft-violet),
    var(--bg-soft-blue)
  );
  background-size: cover;
  background-position: center;
}
/* For centering the card */
.full-screen-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* The yellow box but I am not using it; placing it properly seems impossible */

.img__out {
  z-index: 100;
  position: fixed;
  left: 7rem;
  top: 17rem;
}
/* The card itself */
.container {
  width: 80%;
  max-width: 70vw;
  max-height: 90vh;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "illustration content";
}
/* The illustration to the left */
.illustration {
  grid-area: illustration;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
/* The images used in the illustration, one in the top and the other at the bottom */

.img__top {
  position: absolute;
  top: 0%;
  left: -15%;
}
.img__bottom {
  position: absolute;
  transform: scale(0.5);
  top: -70%;
  left: -50%;
}
/* The faqs to the right */
.faqs {
  grid-area: content;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 90%;
  font-size: 1.1em;
  min-height: 70vh;
}
/* The FAQ heading */
.heading {
  color: var(--txt-dark);
  text-transform: uppercase;
  font-size: 2.7rem;
  align-self: flex-start;
}
/* Removing the styles of the ul used for faqs*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Each question and answer is stored in an li */
ul li {
  margin-bottom: 1rem;
  border-bottom: 1px solid hsl(240, 6%, 50%);
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  grid-template-areas: "question" "answer";
}
/* The question div in li */
.question {
  grid-area: question;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
/* The arrow pointing up or down  */
.question img {
  color: var(--txt-red);
}
/* The div for the answer  */
.answer {
  color: var(--txt-n-dgb);
  font-size: 0.7rem;
  grid-area: answer;
  width: 80%;
  padding-top: 0.5rem;
  display: none;
}
